<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h3>Raaka-aineet</h3>

        <ol>
            <li th:each="aines: ${ainekset}">
                <span th:text="${aines.nimi}"></span>
                                           
<!--                <button onclick="confirmDelete()">Poista</button>-->

<!--                <script>
                function confrimDelete() {
                    var txt;
                    var r = confirm("Oletko varma, että haluat poistaa raaka-aineen?");
                    if (r == true) {
                        txt = "näkyyyy";
                        <form th:action="${'ainekset/' + aines.id + '/poista'}" method='POST'>                     
                        </form>
                    } else {
                        txt = "Et poistanut raaka-ainetta.";
                    }
                }
                
                </script>-->
                
                

                <!--tässä alla on se toimiva tapa poistoon, mutta tässä ei mahdollisuutta varmistukseen, poistaa vaan suoraan:-->
                    <form th:action="${'ainekset/' + aines.id + '/poista'}" method='POST'> 
                    <input type="submit" value="Poista"/>
                </form>                 
            </li>
        </ol>
        
        <br/>
        <h4>Lisää uusi raaka-aine</h4>

        <form method="POST" action="">
            Raaka-aineen nimi:<br/>
            <input type="text" name="aine" required=""/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
        
            
            
        

        <ul>
            <li>
                <a href="/annokset">Lisää smoothieen!</a>
            </li>
            <li>
                <a href="../">Smoothielistaukseen</a>
            </li>
        </ul>
    </body>
</html>

