<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Lisää smoothie</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="ulkoasu.css" />
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Smoothiet!</h1>
            </header>

            <nav>
                <ul>
                    <li><a href="../">Etusivu</a></li>
                    <li><a href="/ainekset">Lisää ja muokkaa raaka-aineita</a></li>
                    <li><a href="/tilasto">Tilastot</a></li>
                </ul>
            </nav>   
            
            <article>
                <ol>
                    <li th:each="annos: ${annokset}">
                        <a th:href="${'/annokset/' + annos.id}"><span th:text="${annos.nimi}"></span></a>
                        <form th:action="${'annokset/' + annos.id + '/poista'}" method='POST'> 
                            <input type="submit" value="Poista"/>
                        </form>  
                    </li>
                </ol>

                <h4>Lisää uusi</h4>

                <form method="POST" action="">
                    <p>Smoothien nimi:<br/>
                        <input type="text" name="annos" required=""/><br/>
                        <input type="submit" value="Lisää"/>
                    </p>
                </form>


                <form method="POST" action="">
                    <p>Valitse smoothie:<br/>
                        <select name="smoothie" required="">
                            <option th:each="annos: ${annokset}" th:text="${annos.nimi}"></option>
                        </select>
                    </p>

                    <p>
                        Lisättävä raaka-aine:<br/>
                        <select name="raakaAine" required="">
                            <option th:each="aines: ${ainekset}" th:text="${aines.nimi}"></option>
                        </select>
                    </p>
                    <a href="/ainekset">Puuttuuko raaka-aine?</a>

                    <p>
                        Määrä:<br/>
                        <input type="text" name="määrä" required=""/>
                    </p>

                    <p>
                        Ohje:<br/>
                        <input type="text" name="ohje" required=""/><br/>
                        <input type="submit" value="Luo"/>
                    </p>
                </form>


            </article>
            <footer><p>KEKS, 2018</p></footer>
        </div>
    </body>
</html>