<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Lisää smoothie</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h3>Smoothiet!</h3>

        <ol>
            <li th:each="annos: ${annokset}">
                <a th:href="${'/annokset/' + annos.id}"><span th:text="${annos.nimi}"></span></a>
                <form th:action="${'annokset/' + annos.id + '/poista'}" method='POST'> 
                    <input type="submit" value="Poista"/>
                </form>  
            </li>
        </ol>

        <h4>Lisää uusi</h4>

        <form method="POST" action="">
            Smoothien nimi:<br/>
            <input type="text" name="annos" required=""/><br/>
            <input type="submit" value="Lisää"/>
        </form>


        <form method="POST" action="">
            Valitse smoothie:<br/>
            <select name="smoothie" required="">
                <option th:each="annos: ${annokset}" th:text="${annos.nimi}"></option>
            </select>
            <br/>

            Lisättävä raaka-aine:<br/>
            <select name="raakaAine" required="">
                <option th:each="aines: ${ainekset}" th:text="${aines.nimi}"></option>
            </select>
            <ul>
                <li>
                    <a href="/ainekset">Puuttuuko raaka-aine?</a>
                </li>
            </ul>
            <br/>

            Järjestys:<br/>
            <input type="number" name="järjestys" required=""/><br/>

            Määrä:<br/>
            <input type="text" name="määrä" required=""/><br/>

            Ohje:<br/>
            <input type="text" name="ohje" required=""/><br/>
            <input type="submit" value="Luo"/>
        </form>

        <ul>
            <li>
                <a href="../">Takaisin listaukseen</a>
            </li>
        </ul>
        

    </body>
</html>