<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiearkisto</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="ulkoasu.css" />
    </head>

    <body>
        <div class="container">
            
            <header>
                <h1>Smoothiearkisto</h1>
            </header>
            
            <nav>
                <ul>
                    <li><a href="/annokset">Luo uusi smoothie</a></li>
                    <li><a href="/ainekset">Lisää ja muokkaa raaka-aineita</a></li>
                    <li><a href="/tilasto">Tilastot</a></li>
                </ul>
            </nav>

            <article>
                <p>Tervetuloa smoothiearkistoomme! Sivustolla voit tarkastella jo olemassa
                    olevia reseptejä sekä luoda omia smoothieita.</p>
                <br/>

                <h4> Smoothiet </h4>
                <ol>
                    <li th:each="annos: ${annokset}">
                        <a th:href="${'/annokset/' + annos.id}"><span th:text="${annos.nimi}"></span></a>
                    </li>
                </ol>

                <br/>
            </article>
            <footer><p>KEKS, 2018</p></footer>
        </div>
    </body>
</html>