<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Tilastoja</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="ulkoasu.css" />
    </head>

    <body>
        <div class="container">

            <header>
                <h1>Tilastoja</h1>
            </header>

            <nav>
                <ul>
                    <li><a href="../">Etusivu</a></li>
                    <li><a href="/annokset">Lisää ja muokkaa smoothieita</a></li>
                    <li><a href="/ainekset">Lisää ja muokkaa raaka-aineita</a></li>
                </ul>
            </nav>

            <article>
                <p>Tällä sivulla voit tarkastella smoothieita raaka-aineiden mukaan.</p>

                <br/>

                <h4>Kaikki raaka-aineet:</h4>
                <ol>
                    <li th:each="aines: ${ainekset}">
                        <a th:href="${'/tilasto/' + aines.id}"><span th:text="${aines.nimi}"></span></a>                       
                    </li>
                </ol>
            </article>
            <footer><p>KEKS, 2018</p></footer>
        </div>
    </body>
</html>